    

<br />
<div class="panel panel-default">
    <div class="panel-heading"><h4>Formulario Personalizado</h4></div>
    <div class="panel-body">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Crear formulario", "CrearFormulario", "CrearFormulario")</li>
                <li>@Html.ActionLink("Gestionar formulario", "Formulario", "GestionarFormulario")</li>
                <li>@Html.ActionLink("Consultar formulario", "ConsultarFormulario", "ConsultarFormulario")</li>
            </ul>
        </div>
    </div>
</div>