@{
    ViewBag.Title = "Inicio";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading"><h4>Inicio</h4></div>
    <div class="panel-body">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="small-space">@Html.ActionLink("Crear Oferente", "CrearOferente", "Usuario", null, new { @class = "btn btn-primary" })</li>
                <li class="small-space">@Html.ActionLink("Crear Solicitante", "CrearSolicitante", "Usuario", null, new { @class = "btn btn-primary" })</li>
                <li class="small-space">@Html.ActionLink("Consultar Oferente", "consultarOferente", "Usuario", null, new { @class = "btn btn-primary" })</li>
                <li class="small-space">@Html.ActionLink("Consultar Solicitante", "consultarSolicitante", "Usuario", null, new { @class = "btn btn-primary" })</li>
            </ul>
        </div>
    </div>
</div>
