@{
    ViewBag.Title = "Inicio";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading"><h4>Inicio</h4></div>
    <div class="panel-body">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Crear Oferente", "CrearOferente", "Usuario")</li>
                <li>@Html.ActionLink("Crear Solicitante", "CrearSolicitante", "Usuario")</li>
                <li>@Html.ActionLink("Consultar Oferente", "consultarOferente", "Usuario")</li>
                <li>@Html.ActionLink("Consultar Solicitante", "consultarSolicitante", "Usuario")</li>
            </ul>
        </div>
    </div>
</div>
