@{
    ViewBag.Title = "Inicio";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading"><h4>Inicio</h4></div>
    <div class="panel-body">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="small-space">@Html.ActionLink("Crear formulario", "CrearFormularioDinamico", "Inicio", null, new { @class="btn btn-primary" })</li>
                <li class="small-space">@Html.ActionLink("Administrar usuarios", "CrearUsuarios", "Inicio", null, new { @class = "btn btn-primary" })</li>
                <li class="small-space">@Html.ActionLink("Consultar Oferta", "Index", "Oferta", null, new { @class = "btn btn-primary" })</li>
            </ul>
        </div>
    </div>
</div>
