@{
    ViewBag.Title = "Inicio";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading"><h4>Inicio</h4></div>
    <div class="panel-body">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Crear formulario", "CrearFormularioDinamico", "Inicio")</li>
                <li>@Html.ActionLink("Administrar usuarios", "CrearUsuarios", "Inicio")</li>
                <li>@Html.ActionLink("Consultar Oferta", "Index", "Oferta")</li>
            </ul>
        </div>
    </div>
</div>
